body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

canvas {
    width: calc(100% - 200px); /* Adjust width to make room for the debug menu */
    height: 100%;
    float: left;
    display: block;
    touch-action: none; /* Prevent touch gestures on the canvas */
}

#debugMenu {
    width: 200px;
    height: 100vh; /* Ensure it takes the full height of the viewport */
    float: right;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#strokeList {
    margin-top: 10px;
}
